<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TiltaMacro2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <!--sempre use a nova versão do SendKeys para ser consistente em diferentes sistemas operacionais-->
    <add key="SendKeys" value="SendInput"/>
  </appSettings>
    <userSettings>
        <TiltaMacro2.Properties.Settings>
            <setting name="F1" serializeAs="String">
                <value/>
            </setting>
            <setting name="F1All" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="F2" serializeAs="String">
                <value/>
            </setting>
            <setting name="F2All" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="F3" serializeAs="String">
                <value/>
            </setting>
            <setting name="F3All" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="F4" serializeAs="String">
                <value/>
            </setting>
            <setting name="F4All" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="F5" serializeAs="String">
                <value/>
            </setting>
            <setting name="F5All" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="F6" serializeAs="String">
                <value/>
            </setting>
            <setting name="F6All" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="F7" serializeAs="String">
                <value/>
            </setting>
            <setting name="F7All" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="F8" serializeAs="String">
                <value/>
            </setting>
            <setting name="F8All" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="F9" serializeAs="String">
                <value/>
            </setting>
            <setting name="F9All" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="F10" serializeAs="String">
                <value/>
            </setting>
            <setting name="F10All" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="F11" serializeAs="String">
                <value/>
            </setting>
            <setting name="F11All" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="F12" serializeAs="String">
                <value/>
            </setting>
            <setting name="F12All" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NumPad0" serializeAs="String">
                <value/>
            </setting>
            <setting name="NumPad0All" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NumPad1" serializeAs="String">
                <value/>
            </setting>
            <setting name="NumPad1All" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NumPad2" serializeAs="String">
                <value/>
            </setting>
            <setting name="NumPad2All" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NumPad3" serializeAs="String">
                <value/>
            </setting>
            <setting name="NumPad3All" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NumPad4" serializeAs="String">
                <value/>
            </setting>
            <setting name="NumPad4All" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NumPad5" serializeAs="String">
                <value/>
            </setting>
            <setting name="NumPad5All" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NumPad6" serializeAs="String">
                <value/>
            </setting>
            <setting name="NumPad6All" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NumPad7" serializeAs="String">
                <value/>
            </setting>
            <setting name="NumPad7All" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NumPad8" serializeAs="String">
                <value/>
            </setting>
            <setting name="NumPad8All" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NumPad9" serializeAs="String">
                <value/>
            </setting>
            <setting name="NumPad9All" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RLeague" serializeAs="String">
                <value>True</value>
            </setting>
        </TiltaMacro2.Properties.Settings>
    </userSettings>
</configuration>
